<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style >
        .beijing{background: url("../static/image/bg.jpg");
            background-position-x: 0px;
            background-position-y: 0px;
            background-repeat-x: no-repeat;
            background-repeat-y: no-repeat;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
        }
    </style>
</head>
<body>
    <div class="beijing" >123
    123
    13
    13
    13
    </div>
</body>
</html>